{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    {% if not user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Username</legend>
                {% render_field form.username class="input" %}
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Password</legend>
                {% render_field form.password class="input" %}
            </fieldset>
            <button type="submit">Log In</button>
        </form>
    {% endif %}
{% endblock %}
