{% extends 'base.html' %}
{% load widget_tweaks %}

{% load static %}

{% block title %}{{ userLocation.display_name }}{% endblock %}

{% block head_scripts %}
<script type="module" src="{% static 'users/locationmap.js' %}"></script>

{% endblock %}

{% block content %}
<div hidden aria-hidden id="address-data" data-lat="{{userLocation.coords.y}}" data-lng="{{userLocation.coords.x}}" data-name="{{ userLocation.display_name }}">
    {% for stop in route_stops %}
        <div 
            hidden
            aria-hidden id="stop_{{ stop.stop_id }}"
            data-name="{{ stop.stop_name }}"
            data-id="{{ stop.stop_id }}"
            data-type="{{ stop.stop_type }}"
            data-lat="{{ stop.coords.y }}"
            data-lng="{{ stop.coords.x }}" 
            {% if stop.id == userLocation.default_stop.id %}
            data-is_default="true"
            {% endif %}
            ></div>
    {% endfor %}
</div>
<h1 class="text-3xl font-light">{{ userLocation.display_name }}</h1>
<form action="" method="post">
    {% csrf_token %}
    {% render_field location_form.route class="input w-full" %}
    {% render_field location_form.walking_distance class="input w-full" %}
    <button class="btn" type="submit">Update Location</button>
</form>
<form action="{% url 'user.location.delete' user_location_id=userLocation.id %}" method="POST">
    {% csrf_token %}
    <button class="btn" type="submit">Delete this location</button>
</form>
<div id="map-wrapper" style="height: 100%;"></div>
<script>
    (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
        key: "{{ api_key }}",
        v: "weekly",
        map_ids: "81ebb4528da22371e9ddfa87",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
    });
</script>
{% endblock %}