{% load static tailwind_tags %}
<html>
    <head>
        <title>{% block title %}PT Home{% endblock %}</title>
        {% block head_scripts %}{% endblock %}
        {% tailwind_css %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <footer>
        {% if user.is_authenticated %}
        <ul class="list">
            <a href="{% url 'home' %}" class="link list-row w-full">home</a>
            <a href="{% url 'profile' %}" class="link list-row w-full">profile</a>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="link list-row w-full">Logout</button>
            </form>
        </ul>

        {% endif %}
    </footer>
</html>
